@import url(http://fonts.googleapis.com/css?family=Delius);
@import url(http://fonts.googleapis.com/css?family=Gilda+Display);

/* Global Styles */
body {
	margin: 0;
	background-color: #333333;
}

span.icon {
	font-family: 'FontAwesome';
}

header.actionbar {
	width: 100%;
	color: white;
	font-family: 'Gilda Display', serif;
	background: linear-gradient(#22cc22, #118811);
	box-sizing: border-box;
	padding: 10px;
	box-shadow: 0 0 10px black;
}

header.actionbar h1 {
	display: inline;
	font-variant: small-caps;
}

span.icon {
	float: right;
	font-family: sans-serif;
	font-size: 30pt;
	vertical-align: middle;
	line-height: 36px;
	margin-left: 16px;
}

span.icon:hover {
	background-color: rgba(255,255,255,0.4);
}

/* Editor Styles */
input.offscreen {
	position: absolute;
	left: -100%;
	top: -100%;
}

.penInput {
	border: inset blue 1px;
	width: 100%;
	background-color: #FFFFAA;
	position: fixed;
	bottom: 0px;
}

.editorRoot {
	/*border: solid black 1px;*/
	position: absolute;
	top: 58px;
	left: 0;
	right: 0;
	margin: 0px;
	min-height: 200px;
	padding: 24px 12px;
	font-family: 'Delius', cursive;
	font-size: 14pt;
	background-color: #FFFFAA;
}

@media (min-width: 1081px) {
	.editorRoot {
		margin: 12px 24px;
		box-shadow: 0 0 20px black;
	}

	.penInput {
		left: 50%;
		right: auto;
		width: 80%;
		margin-left: -40%;
	}
}

math {
	border: dotted red 1px;
	min-width: 5px;
	white-space: normal;
}

span.editClassedH1 {
	display: block;
	font-size: 26pt;
	font-weight: bold;
}

span.editClassedH1 {
	display: block;
	font-size: 26pt;
	font-weight: bold;
}

/**
 * Cursors
 */
.editText > span.cursor {
	border-right: solid 2px black;
	border-bottom: dotted 2px green;
}

.editMath > span.cursor {
	border: dotted 2px green;
}